
.data{
    border: 2px solid gray;
    text-align: center;
}
table{
    width: 100%;
    
 }
// #input1{
//     position: absolute;
// }
// .class{
//     background: red;
//     color: blue;
// }
